USE [IscalaAnalysis]
GO
/****** Object:  StoredProcedure [dbo].[SSRS_RPT00400CreateData1]    Script Date: 10/05/2021 14:14:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SSRS_RPT00400CreateData1]
AS
SET NOCOUNT ON;
SET ANSI_WARNINGS OFF

Declare @currdate as datetime

Set @currdate = GETDATE()

IF exists (SELECT * FROM dbo.sysobjects WHERE id = object_id(N'[dbo].[#temptable]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
	DROP TABLE [dbo].[#temptable]

create table #temptable
(
currdate			 datetime,
item				 nvarchar(35),	
description			 nvarchar(60),
Warehouse			 NVARCHAR(6),
AverageCost			 Numeric(20,8)
)	

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE '10-01-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE '10-02-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'10-03-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'10-04-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'10-05-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-01-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-02-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-03-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-04-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-05-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-06-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-07-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-08-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-09-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-10-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-12-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-13-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-14-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'12-15-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'13-10-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'16-01-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'16-02-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'16-03-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'16-04-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'18-10-&' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001='19-10-0002' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'37-01-02%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001='46-01-0267' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'46-02-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'46-03-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'46-04-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'46-05-%' And SC03002='05'

INSERT INTO #temptable
SELECT ''+ @currDate +'',SC01001, SC01002, SC03002, SC03057 
FROM ScaCompanyDB..SC010100
INNER JOIN ScaCompanyDB..SC030100 ON SC01001=SC03001
WHERE SC01001 LIKE'46-06-%' And SC03002='05'

INSERT INTO IscalaAnalysis..KK_RPT00400Data1
SELECT * FROM #temptable