USE [IscalaAnalysis]
GO
/****** Object:  StoredProcedure [dbo].[SSRS_Rpt00381_sel]    Script Date: 10/05/2021 14:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[SSRS_Rpt00381_sel]

AS 
DECLARE @value as NVARCHAR(256)
DECLARE @quantity as NVARCHAR(256)
BEGIN 
SET NOCOUNT ON;
SET ANSI_WARNINGS OFF
SELECT 
    T1.SC01001    "StockCode" 
 ,  T1.SC01002    "Description1" 
 ,  T1.SC01042    "StockBalance"
 ,  T1.SC01005    "SellingPrice"
 ,  0 "AvgPrice" --T1.SC01052    "AvgPrice"
 ,  0 "Qty"
 ,  0 "AUG11LAE", 0 "SEPT11LAE", 0 "OCT11LAE", 0 "NOV11LAE", 0 "DEC11LAE", 0 "JAN12LAE", 0 "FEB12LAE", 0 "MAR12LAE"
 ,  0 "APR12LAE", 0 "MAY12LAE", 0 "JUN12LAE", 0 "JULY12LAE", 0 "AUG12LAE"
 ,  0 "AUG11POM", 0 "SEPT11POM",0 "OCT11POM", 0 "NOV11POM", 0 "DEC11POM", 0 "JAN12POM", 0 "FEB12POM",0 "MAR12POM"
 ,  0 "APR12POM", 0 "MAY12POM", 0 "JUN12POM", 0 "JULY12POM", 0 "AUG12POM"
 
 --,  T3.SC03010    "ROL"
 --, SUM(Case When T2.SC03002 =  '01' Then T2.SC03003 End)   "LAEIndust" 
 --, 0 "Sales1"
 --, SUM(Case When T2.SC03002 =  '02' Then T2.SC03003 End)   "LAEShowroom" 
 --, 0 "Sales2"
-- , SUM(Case When T2.SC03002 =  '03' Then T2.SC03003 End)   "POMWH" 
 --, 0 "Sales3"
 --, SUM(Case When T2.SC03002 =  '04' Then T2.SC03003 End)   "POMShowroom" 
 --, 0 "Sales4"

  
 --, SUM(Case When T2.SC07009 =  '13' Then T2.SC07004 End)   "SERVICE" 
 --,  T1.SC01043    "ReservedQty" 
 
 INTO #QRYTMP_91543468
 
 
 FROM [ScaCompanyDB]..SC010100 T1    INNER JOIN    [ScaCompanyDB]..SC030100 T2
                                  ON   T1.SC01001 = T2.SC03001
                                  --   INNER JOIN [ScaCompanyDB]..SC030100 T3
                                  --ON   T1.SC01001=T3.SC03001 
 
WHERE T1.SC01038 IN ('IS','II','IC') and SC01023 <> N'OBSOLETE' --   LIKE '46-04%'
--WHERE T1.SC01002   LIKE '%ELECTROLUX%'
  
GROUP BY  
   T1.SC01001
 , T1.SC01002
 , T1.SC01042
 , T1.SC01005
 , T1.SC01052
 
 
SELECT 
SC03001 "StockCode2",
SUM(SC03003 *SC03057) "AvgCost" 
,SUM(SC03003) "Qty1"
,SC03002 "Location"
 -- = Stockcode AND SC03003 > 0 
INTO #QRYTMP_91543470
FROM SCACompanyDB.dbo.SC030100
WHERE  SC03003 > 0 --SC03002 IN ('01','02','03','04')
GROUP BY SC03001,SC03003,SC03002

--SELECT * FROM #QRYTMP_91543470 where StockCode2 = '36-31-0142'

UPDATE #QRYTMP_91543468
SET AvgPrice = AvgCost, Qty = Qty1 FROM #QRYTMP_91543470 WHERE StockCode = StockCode2
 
SELECT
 T1.ST03017    "StockCode1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2011-08-01 00:00:00.000' and '2011-08-31 00:00:00.000' THEN ST03020 END) "Aug11"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2011-09-01 00:00:00.000' and '2011-09-30 00:00:00.000' THEN ST03020 END) "Sep11"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2011-10-01 00:00:00.000' and '2011-10-31 00:00:00.000' THEN ST03020 END) "Oct11"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2011-11-01 00:00:00.000' and '2011-11-30 00:00:00.000' THEN ST03020 END) "Nov11"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2011-12-01 00:00:00.000' and '2011-12-31 00:00:00.000' THEN ST03020 END) "Dec11"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-01-01 00:00:00.000' and '2012-01-31 00:00:00.000' THEN ST03020 END) "Jan12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-02-01 00:00:00.000' and '2012-02-29 00:00:00.000' THEN ST03020 END) "Feb12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-03-01 00:00:00.000' and '2012-03-31 00:00:00.000' THEN ST03020 END) "Mar12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-04-01 00:00:00.000' and '2012-04-30 00:00:00.000' THEN ST03020 END) "Apr12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-05-01 00:00:00.000' and '2012-05-31 00:00:00.000' THEN ST03020 END) "May12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-06-01 00:00:00.000' and '2012-06-30 00:00:00.000' THEN ST03020 END) "Jun12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-07-01 00:00:00.000' and '2012-07-31 00:00:00.000' THEN ST03020 END) "Jul12"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '10' and ST03015 between '2012-08-01 00:00:00.000' and '2012-08-30 00:00:00.000' THEN ST03020 END) "Aug12"  
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2011-08-01 00:00:00.000' and '2011-08-31 00:00:00.000' THEN ST03020 END) "Aug11POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2011-09-01 00:00:00.000' and '2011-09-30 00:00:00.000' THEN ST03020 END) "Sep11POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2011-10-01 00:00:00.000' and '2011-10-31 00:00:00.000' THEN ST03020 END) "Oct11POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2011-11-01 00:00:00.000' and '2011-11-30 00:00:00.000' THEN ST03020 END) "Nov11POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2011-12-01 00:00:00.000' and '2011-12-31 00:00:00.000' THEN ST03020 END) "Dec11POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-01-01 00:00:00.000' and '2012-01-31 00:00:00.000' THEN ST03020 END) "Jan12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-02-01 00:00:00.000' and '2012-02-29 00:00:00.000' THEN ST03020 END) "Feb12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-03-01 00:00:00.000' and '2012-03-31 00:00:00.000' THEN ST03020 END) "Mar12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-04-01 00:00:00.000' and '2012-04-30 00:00:00.000' THEN ST03020 END) "Apr12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-05-01 00:00:00.000' and '2012-05-31 00:00:00.000' THEN ST03020 END) "May12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-06-01 00:00:00.000' and '2012-06-30 00:00:00.000' THEN ST03020 END) "Jun12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-07-01 00:00:00.000' and '2012-07-31 00:00:00.000' THEN ST03020 END) "Jul12POM1"
 , SUM(CASE WHEN SUBSTRING(T1.ST03011,7,6) = '20' and ST03015 between '2012-08-01 00:00:00.000' and '2012-08-30 00:00:00.000' THEN ST03020 END) "Aug12POM1" 
 INTO #QRYTMP_91543469

 FROM [ScaCompanyDB]..ST030100 T1    INNER JOIN    [ScaCompanyDB]..SC010100 T4
                                  ON   T1.ST03017 = T4.SC01001
WHERE T4.SC01038 IN ('IS','II','IC')

GROUP BY
   T1.ST03017
   
--SELECT * FROM #QRYTMP_91543469 where StockCode1 = '36-31-0142'
 
UPDATE #QRYTMP_91543469
SET Aug11 = '0' WHERE Aug11 IS NULL 
UPDATE #QRYTMP_91543469
SET Sep11 = '0' WHERE Sep11 IS NULL 
UPDATE #QRYTMP_91543469
SET Oct11 = '0' WHERE Oct11 IS NULL 
UPDATE #QRYTMP_91543469
SET Nov11 = '0' WHERE Nov11 IS NULL 
UPDATE #QRYTMP_91543469
SET Dec11 = '0' WHERE Dec11 IS NULL 
UPDATE #QRYTMP_91543469
SET Jan12 = '0' WHERE Jan12 IS NULL 
UPDATE #QRYTMP_91543469
SET Feb12 = '0' WHERE Feb12 IS NULL 
UPDATE #QRYTMP_91543469
SET Mar12 = '0' WHERE Mar12 IS NULL 
UPDATE #QRYTMP_91543469
SET Apr12 = '0' WHERE Apr12 IS NULL 
UPDATE #QRYTMP_91543469
SET May12 = '0' WHERE May12 IS NULL 
UPDATE #QRYTMP_91543469
SET Jun12 = '0' WHERE Jun12 IS NULL 
UPDATE #QRYTMP_91543469
SET Jul12 = '0' WHERE Jul12 IS NULL 
UPDATE #QRYTMP_91543469
SET Aug12 = '0' WHERE Aug12 IS NULL 




UPDATE #QRYTMP_91543469
SET Aug11POM1 = '0' WHERE Aug11POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Sep11POM1 = '0' WHERE Sep11POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Oct11POM1 = '0' WHERE Oct11POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Nov11POM1 = '0' WHERE Nov11POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Dec11POM1 = '0' WHERE Dec11POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Jan12POM1 = '0' WHERE Jan12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Feb12POM1 = '0' WHERE Feb12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Mar12POM1 = '0' WHERE Mar12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Apr12POM1 = '0' WHERE Apr12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET May12POM1 = '0' WHERE May12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Jun12POM1 = '0' WHERE Jun12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Jul12POM1 = '0' WHERE Jul12POM1 IS NULL 
UPDATE #QRYTMP_91543469
SET Aug12POM1 = '0' WHERE Aug12POM1 IS NULL 
 
 --, T3.SC03010
 
UPDATE #QRYTMP_91543468
SET AUG11LAE = Aug11 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S1 <> NULL
UPDATE #QRYTMP_91543468
SET SEPT11LAE = Sep11 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S2 <> NULL
UPDATE #QRYTMP_91543468
SET OCT11LAE = Oct11 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S3 <> NULL
UPDATE #QRYTMP_91543468
SET NOV11LAE = Nov11 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET DEC11LAE = Dec11 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET JAN12LAE = Jan12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET FEB12LAE = feb12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET MAR12LAE = Mar12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET APR12LAE = Apr12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET MAY12LAE = May12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET JUN12LAE = Jun12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET JULY12LAE = Jul12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET AUG12LAE = Aug12 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL

UPDATE #QRYTMP_91543468
SET AUG11POM = Aug11POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S1 <> NULL
UPDATE #QRYTMP_91543468
SET SEPT11POM = Sep11POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S2 <> NULL
UPDATE #QRYTMP_91543468
SET OCT11POM = Oct11POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S3 <> NULL
UPDATE #QRYTMP_91543468
SET NOV11POM = Nov11POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET DEC11POM = Dec11POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET JAN12POM = Jan12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET FEB12POM = feb12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET MAR12POM = Mar12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET APR12POM = Apr12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET MAY12POM = May12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET JUN12POM = Jun12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET JULY12POM = Jul12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL
UPDATE #QRYTMP_91543468
SET AUG12POM = Aug12POM1 from #QRYTMP_91543469
WHERE Stockcode1 = Stockcode  --and S4 <> NULL


--UPDATE #QRYTMP_91543468
--SET LaeIndust = '0' WHERE LaeIndust IS NULL 
--UPDATE #QRYTMP_91543468
--SET LAEShowroom = '0' WHERE LAEShowroom IS NULL 
--UPDATE #QRYTMP_91543468
--SET POMWH = '0' WHERE POMWH IS NULL 
--UPDATE #QRYTMP_91543468
--SET POMShowroom = '0' WHERE POMShowroom IS NULL 





END
 



/* ************************************************ */
/* SELECT THE RESULT FROM QUERY  */
/* ********************************************* */

SELECT * FROM #QRYTMP_91543468 --where Stockcode = '22-01-2170'

--SELECT * FROM #QRYTMP_91543469
  

/* ************************************************ */
/* Drop Temp File                                  */
/* ********************************************** */
--BEGIN 
--DROP TABLE #QRYTMP_91543468 
--END 
